{% extends "root.html" %}
{% block content %}
<div class="jumbotron">
    <!-- Page Content Holder -->
    <div id="content">
        <div class="jumbotron">
            <h1 class="display-3">Woah, there are some problems.</h1>
            <p class="lead">
                The application or country id that you entered is not valid or there is a problem on our server.
                <br />If you think this is an error, please
                help us fix this by contacting us at <a href="#" class="text-warning">admin@supertype.com</a>.
            </p>
            <a href="{{ url_for('index') }}"><button type="button" class="btn btn-dark">Back to Home</button></a>
        </div>
    </div>
</div>
{% endblock content %}