<p>
    Dear Valued Customer,<br>

<p>
    We are sure that improving your business’ productivity is a top priority for you. Here we send you the preview
    analysis of your app based on your app's review on Google Playstore. If you’d like any additional and more thorough
    information about this analysis, we would welcome you to contact us.
    <br><br>
    As a quick refresher, here is what you’ll take away from our services:
    <br>
<ul>
    <li>How to get information on the full performance of your app by analyzing your <strong>Overall Rating and
            Review</strong> rate within 6 to 7 months.</li>
    <li><strong>Average Rating and Review</strong> shows more than just a number, you will have more ability to improve
        your app through average rating analysis either per version or month.</li>
    <li>Want to detect changes in the overall opinion towards your brand? We can also do <strong>Sentiment
            Analysis</strong> for you.</li>
    <li>Find out more on what languages mostly used on your app review through our <strong>Detect Language</strong>
        analysis.</li>
    <li>And many more!!</li>
</ul>
</p>

<p>
    <strong>WARNING:</strong> We also have an exclusive package if you are interested in having a long-term contract
    with us. Even better, we can do <strong>Customized Analysis</strong> for you based on your business’ needs.
    <br><br>
    This service is worth <strong>197 USD</strong> and it will give you more than just informative insights from our
    analysis.
    <br><br>
    Just let us know if you have any questions or would like to have a more in-depth conversation. We are here whenever
    you need us.

    <br><br>
    Best regards,
    <br><br><br>
    Supertype
</p>

</p>